/* .table1{
    width: 250px;
    border: 1px solid #000;
    float: left;
}

.table1 th, .table1 td{
    border: 1px solid #000;
}

.table2 {
    width: 400px;
    border: 1px solid #000;
    float: inline-end;
}

.table2 th, .table2 td {
    border: 1px solid #000;
} */